


.navwall{
    width: 90%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
  .navbar a{
    text-decoration: none;
    color: #e6e6e6;
    margin: 2vh;
    cursor: pointer;
    padding: 2vh;
  }
  .navbar a:hover{
    border-bottom: #e6e6e6 solid 0.5vh;
  }
  .navwall button{
    background: none;
    border: 0.2vh solid #278C7A;
    outline: none;
    width: 90px;
    height: 8vh;
    margin-top: 2vh;
    border-radius: 1vh;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
  }
  .navwall button a{
    text-decoration: none;
    color: #e6e6e6;
    padding: 1.7vh;
  }
  .navwall button:hover{
    background-color:#278C7A;
  }



  .social{
    position: fixed;
    top: 90vh;
    right: 2%;
    transition: 0.3s;
    z-index: 999;
  }
  .social2{
    display: none;
}
  .social a{
    color: #e6e6e668;
    text-decoration: none;
    font-size: 4vh;
    padding: 2vh;
    transition: 0.3s;
  }
  .social a:hover{
    color: #e6e6e6;
  }
  
  
  /* for phone  */
  @media (max-width: 768px) {
    .navbar{
      display: none;
    }
    .social{
      display: none;
  }
  .social2{
    display: block;
    position: absolute;
    top: 512vh;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
    z-index: 999;
  }
  .social2 a{
    color: #e6e6e668;
    text-decoration: none;
    font-size: 3.5vh;
    padding: 2vh;
    transition: 0.3s;
  }
  .social2 a:hover{
    color: #e6e6e6;
  }
  
}