
/* Study */

.Study{
    width: 50%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 260vh;
    transform: translateX(-50%);
    color: #e6e6e6;
  }
  .Study h4{
    display: flex;
  }
  .Study h4 hr{
    width: 80%;
    height: 0.1vh;
    background-color: #e6e6e6;
  }
  .Study .detail{
    display: flex;
    justify-content: space-between;
  }
  .Study ul{
    width: 50%;
    font-size: small;
  }
  
  
  .Study img{
    width: 30vh;
    height: 30vh;
    object-fit: cover;
    object-position: center;
    position: relative;
    right: 30%;
    box-shadow: 0 0 1vh #278C7A;
    transition: 0.4s;
  }
  .Study img:hover{
    box-shadow: 0 0 1vh #278C7A;
  }
  
  .skill{
    display: flex;
  }